:root {
  --svg-color: #f4f4fd;
  --some-text-color: #ffffff;
  --icon-bg: #4d5ae5;
  --modal-subtitle: #2e2f42;
  --modal-label-color: #8e8f99;
  --input-checked-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 320px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0;
}

.header-logo {
  color: #2e2f42;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: none;
}

.address {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* **++++++++++++++++++++++mobile menu++++++++++++++++++++++ */
.mobile-menu {
  background-color: #fff;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}
.visible-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;
}

.mobile-menu-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #e7e9fc;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-menu-nav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-link:focus,
.mobile-menu-address-item:focus {
  color: #404bbf;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-menu-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-social-list {
  display: flex;
  justify-content: space-between;
}
.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

/*  */

/* HERO */

.hero {
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/office.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 72px 0;
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto;
  text-align: center;
  max-width: 216px;
  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero-btn {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 72px auto 0 auto;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* our advanteges */

.advanteges {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.advanteges-icon-box {
  display: none;
}

.advanteges-item {
}

.advanteges-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advanteges-item-title {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.advanteges-descr {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our Team */

.our-team {
  padding-top: 96px;
  padding-bottom: 96px;
  /*  */
}

.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.our-team-list > li:first-child {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-box {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin: 0 auto;
}

.team-box-name {
  padding: 32px 0;
}

.team-box-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-box-descr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-box-link {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-box-item {
  width: 40px;
  height: 40px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.team-link:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:focus {
  background-color: #404bbf;
}

.team-box-link-icon {
  fill: var(--svg-color);
}

/* Our portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

.portfolio-list {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  /* column-gap: 24px; */
  row-gap: 72px;
}
.portfolio-list > li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list > li:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  width: 100%;
  /* width: calc((100% - 48px) / 3); */
}

.portfolio-item:hover .portfolio-item-img p {
  transform: translateY(0%);
}

.portfolio-item-img {
  position: relative;
  overflow: hidden;
}

.portfolio-item-img img {
  width: 100%;
}

.portfolio-item-img-descr {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--svg-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-descr {
  margin-top: 8px;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  min-height: 312px;
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  background-color: #2e2f42;
}

.footer-wrapper {
  display: flex;
  /* align-items: baseline; */
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-container {
  text-align: center;
  /* margin-right: 120px; */
}

.footer-logo {
  color: #f4f4fd;
}

.footer-link {
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.social-media-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--some-text-color);
  margin-bottom: 16px;
  text-align: center;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--icon-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-link:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:focus {
  background-color: #31d0aa;
}

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.form-container {
  margin-left: auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.form-input::placeholder {
  color: #ffffff;
}

.form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.form-img {
  margin-left: 16px;
}

/** ==================================================================MEDIA============================================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu {
    display: none;
  }

  /**======================header=====================*/

  .logo {
    margin-right: 120px;
  }

  .nav-menu {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    position: relative;
    padding: 24px 0;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .nav-menu li:first-child a {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu li:first-child a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-link:active {
    color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .address {
    display: block;
  }

  .address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .open-menu-btn {
    display: none;
  }

  /**======================hero=====================*/

  .hero {
    width: 100%;
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .hero-btn {
    margin: 36px auto 0 auto;
  }

  /**======================advanteges=====================*/

  .advanteges {
  }
  .advanteges-list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }
  .advanteges-item {
    width: calc((100% - 24px) / 2);
    /* max-width: 356px; */
  }
  .advanteges-icon-box {
  }
  .advanteges-icon {
  }
  .advanteges-item-title {
    text-align: left;
  }
  .advanteges-descr {
  }

  /**======================Our team=====================*/
  .our-team .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .our-team-list {
    gap: 24px;
  }

  /** ===============Our portfolio=================== **/

  .portfolio-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /** ===============Footer=================== **/
  .footer .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
  }

  .form-container {
    margin-left: 0;
  }

  .footer-container,
  .social-media-descr,
  .form-title {
    text-align: left;
  }

  .form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /**======================header=====================*/

  .logo {
    margin-right: 76px;
  }

  .address-menu {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }

  /**======================hero=====================*/

  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    max-height: 600px;
  }

  .hero-btn {
    margin: 48px auto 0 auto;
  }

  /**======================advanteges=====================*/

  .advanteges {
    padding: 120px 0;
  }
  .advanteges-list {
    display: flex;
    gap: 24px;
  }
  .advanteges-item {
    width: calc((100% - 72px) / 4);
  }
  .advanteges-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .advanteges-icon {
    display: block;
    margin: 20px auto;
    width: 64px;
    height: 64px;
  }

  .advanteges-item-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
  .advanteges-descr {
  }

  /**======================Our team=====================*/
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .our-team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-link:hover {
    background-color: #404bbf;
  }

  /** ===============Our portfolio=================== **/

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /** ===============Footer=================== **/

  .footer .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer-wrapper {
    justify-content: center;
    gap: 72px;
  }

  .social-media-link:hover {
    background-color: #31d0aa;
  }
}

/** MODAL */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.btn-img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--modal-subtitle);
  margin-bottom: 16px;
}

.modal-form-box {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-label-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input-box {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-img {
  fill: #4d5ae5;
}

.modal-input-img {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-privacy {
  margin-bottom: 24px;
}

.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-label-color);
}

.label-span-privacy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-privacy:checked + .label-privacy .label-span-privacy {
  background-color: var(--input-checked-color);
  border: none;
  fill: var(--svg-color);
}

.privacy-link {
  color: var(--icon-bg);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
